body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f2f2f2;
}

header{
    background-color: #3b0a45;
    color: white;
    text-align: center;
    padding: 1.5rem;

   
}

main{
    max-width: 600px;
    margin: 2rem auto;
    background-color: #ddd6dc;
    padding: 2rem;
    border-radius: 6px;

    
}

label{
    display: block;
    margin-top: 1rem;
    font-weight: bold;
}

input,
select,
textarea{
    width: 100%;
    padding: 0.6rem;
    margin-top: 0.4rem;
    border-radius: 4px;
    border: 1px solid #999;


}

textarea{
    min-height: 100px;
}

fieldset{
    margin-top: 1.5rem;
    border:none;
    padding: 1rem}


legend{
    font-weight: bold;
    
}

fieldset label{
    font-weight: normal;
    margin-top: 0.4rem;
    display: inline-flex;
    
    align-items: center;
    margin-right: 1rem;

}

.required{
    color: darkred;
}

button{
    margin-top: 2rem;
    width: 100%;
    padding: 0.8rem;
    background-color: #f2f2f2;
    border: 1px solid #999;
    font-size: 1rem;
    cursor: pointer
}
button:hover{
    background-color: #ccc;
}

footer{
    background-color: #3b0a45;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
}

